/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/

/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body {
    padding-top: 70px;
    font-family: 'Kreon', serif;
    font-size: 16px;
}


.row {
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 20px;
}


/**
 * Bootstrap requires a containing element to wrap site contents
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width,
 * so that the container will not spread to the entire viewport.
*/

.container-fluid {
    max-width: 1200px;

}

h1{
    font-size: 4em;
    text-align: center;
}

.navbar-brand{
    font-size: 24px;
}

.navbar-inverse{
    font-size: 18px;
}

.navbar-nav {
    float: right;
    margin: 0;
}


.well {
    color: #000000;;
    background-color: rgba(34, 34, 34, 0.75);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}



ul {
 overflow: auto;
}

ul li {
 list-style-type: none;
 float: left;
}

ul li a i {
 background: #222;
 color: #fff;
 width: 40px;
 height: 40px;
 border-radius: 20px;
 font-size: 25px;
 text-align: center;
 margin-right: 10px;
 padding-top: 12%;
}


#home{
	/*background-color: #93C368*/
	background: url('../img/coriander2.png') center no-repeat;
	border-radius: 30px;
}
#about{
	/*background-color:#FFCB00*/
	background: url('../img/fern2.png') center no-repeat;
	border-radius: 30px;
}
#portfolio{
	/*background-color: #D6B5FA*/
	background: url('../img/baobob2.png') center no-repeat;
	border-radius: 30px;
}
#contact{
	/*background-color: #CC7F32*/
	background: url('../img/grass2.png') center no-repeat;
	border-radius: 30px;
}

.panel{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    min-width: 100%;
    height: 90vh;
	/*min-height: 800px;*/
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	margin-top: -150%;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	opacity: 0;
	z-index:2;
	-webkit-transition: opacity 1.0s ease-in-out;
	-moz-transition: opacity 1.0s ease-in-out;
	-o-transition: opacity 1.0s ease-in-out;
	-ms-transition: opacity 1.0s ease-in-out;
	transition: opacity 1.0s ease-in-out;
}

.panel:target {
    opacity: 1;
    margin-top: 0%;
}

#find-me{
    position: fixed;
    padding: 2em;
    bottom: 0em;
    left: 0;
}


/*.panel-footer{*/
    /*text-align: center;*/
/*}*/